CodeBase/Mobile/Mobile.Android/Web References/ExportBasketWebService/ExportBasket.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/ExportBasket" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/ExportBasket" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/BasketXml" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/BasketXml" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="NavItem">
        <sequence>
          <element minOccurs="1" maxOccurs="1" default="0" name="ID" type="int" />
          <element minOccurs="1" maxOccurs="1" name="IsPaid" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="ProductsID" type="int" />
        </sequence>
      </complexType>
      <complexType name="NavBasket" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="NavItem" type="tns:NavItem" />
        </sequence>
      </complexType>
      <element name="NavBasket" type="tns:NavBasket" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/ExportBasket" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="ExportBaskets">
        <complexType>
          <sequence>
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/BasketXml" minOccurs="1" maxOccurs="1" name="baskets" type="q1:NavBasket" />
          </sequence>
        </complexType>
      </element>
      <element name="ExportBaskets_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="InsertBasket">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="iD" type="int" />
            <element minOccurs="1" maxOccurs="1" name="paid" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="product" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="InsertBasket_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="iD" type="int" />
            <element minOccurs="1" maxOccurs="1" name="paid" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="product" type="int" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="ExportBaskets">
    <part name="parameters" element="tns:ExportBaskets" />
  </message>
  <message name="ExportBaskets_Result">
    <part name="parameters" element="tns:ExportBaskets_Result" />
  </message>
  <message name="InsertBasket">
    <part name="parameters" element="tns:InsertBasket" />
  </message>
  <message name="InsertBasket_Result">
    <part name="parameters" element="tns:InsertBasket_Result" />
  </message>
  <portType name="ExportBasket_Port">
    <operation name="ExportBaskets">
      <input name="ExportBaskets" message="tns:ExportBaskets" />
      <output name="ExportBaskets_Result" message="tns:ExportBaskets_Result" />
    </operation>
    <operation name="InsertBasket">
      <input name="InsertBasket" message="tns:InsertBasket" />
      <output name="InsertBasket_Result" message="tns:InsertBasket_Result" />
    </operation>
  </portType>
  <binding name="ExportBasket_Binding" type="tns:ExportBasket_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ExportBaskets">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ExportBasket:ExportBaskets" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ExportBaskets">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ExportBaskets_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="InsertBasket">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ExportBasket:InsertBasket" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="InsertBasket">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="InsertBasket_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ExportBasket">
    <port name="ExportBasket_Port" binding="tns:ExportBasket_Binding">
      <address location="http://localhost:7047/BC140/WS/CRONUS%20International%20Ltd./Codeunit/ExportBasket" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>